.c1{
    text-align: center;
    background-color: brown;
    width: 200px;
    height: 200px;
}
.c2{
    text-align: center;
    background-color: #f004ff;
    width: 200px;
    height: 200px;
}
.c3{
    
    text-align: center;
    background-size: 700px;
    width: 200px;
    height: 200px;
    background-color: rgb(39, 164, 85)

    

}


