.a{
    display: flex;
    justify-content: center;
    gap: 50px;
}

h1{
    text-align: center;
}

.p1{
    width: 200px;
    height: 200px;
    background-color: orangered;
    box-shadow: 4px 4px 10px;
}

.p2{
    width: 200px;
    height: 200px;
    background-color: grey;
    box-shadow: 4px 4px 10px;
}

.p3{
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    box-shadow: 4px 4px 10px;
}

